div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container-fluid
      a.btn.btn-navbar(data-toggle="collapse",data-target=".nav-collapse")
        span.icon-bar

      a.brand(href="#") DMV

      div.nav-collapse
        ul.nav
          li
            a(href="https://github.com/rwldrn/dmv", target="_blank") code@github


div#take-photo.span1
  a.btn.btn-large.btn-danger(href="#")
    b.icon-camera.icon-white



div#saved-photo.row.navbar-inner
  ul#saved


#container


div.container
  div#obsolete.row
    h1 Your browser will soon be obsolete.

    h3 To use this demo, you will need:

    dl
      dd
        a(href="http://dev.opera.com/labs", target="_blank") Opera Labs Camera build
      dd
        a(href="http://tools.google.com/dlpage/chromesxs", target="_blank") Google Chrome Canary

    h3
      a(href="http://weblog.bocoup.com/javascript-webrtc-opera-mobile-12/") Find out more
