#obsolete
  p Your browser is soon to be obsolete.
  a(href="http://weblog.bocoup.com/javascript-webrtc-opera-mobile-12/") Find out more

#view-saved
  a(href="/saved/", target="_blank") Saved Photos

#container
