!!!
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/socket.io/socket.io.js")
    script(src="//code.jquery.com/jquery.min.js")
    script(src="/javascripts/dmv.js")
    script(src="/javascripts/app.js")
  body!= body