doctype html
html
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="/bootstrap/css/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/javascripts/jquery.min.js")
    script(type="text/javascript", src="/javascripts/unprefix.js.min.js")
    script(type="text/javascript", src="/javascripts/navigator.getusermedia.min.js")
    script(type="text/javascript", src="/javascripts/dmv.js")
    script(type="text/javascript", src="/javascripts/app.js")
  body!= body
