!!!
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css")
    link(rel="stylesheet", href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css")
    link(rel="stylesheet", href="/stylesheets/style.css")

    script(src="/socket.io/socket.io.js")
    script(src="//code.jquery.com/jquery.min.js")
    script(src="https://raw.github.com/rwldrn/unprefix.js/master/dist/unprefix.js.min.js")
    script(src="https://raw.github.com/rwldrn/navigator.getusermedia/master/dist/navigator.getusermedia.min.js")
    script(src="/javascripts/dmv.js")
    script(src="/javascripts/app.js")
  body!= body
