body {
  padding: 0px;
  margin: 0px;
/*  padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

video {
  padding: 0px;
  margin: 0px;
}

#obsolete {
  display: none;
}

#saved {
  width: 400px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#saved li {
 display: inline;
}

#saved li img {
  float: left;
  width: 5em;
  padding: 1em;
}